<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
    <title>Raymo Family History</title>
</head>

<body class="bg-light">

    {% include header.html %}

    <main>
        <div class="container mt-3">
            <div class="row">
                <section class="col-md-8">
                    <article class="blog-post bg-white shadow p-3 mb-3">
                        <h2 class="post-title border-bottom mb-1">{{ page.title }}</h2>
                        <h3 class="post-date mb-3">{{ page.date | date:"%-d %B %Y" }}</h3>

                        {{ content }}

                        <nav>
                            <ul class="pagination pagination-sm justify-content-center">
                                {% if page.previous.url %}
                                <li class="page-item"><a class="page-link" href="{{ page.previous.url }}">&laquo;
                                        {{
                                        page.previous.title }}</a></li>
                                {% endif %}
                                {% if page.next.url %}
                                <li class="page-item"><a class="page-link" href="{{ page.next.url }}">{{
                                        page.next.title }} &raquo;</a></li>
                                {% endif %}
                            </ul>
                        </nav>
                    </article>
                    <footer class="text-muted small">
                        <span class="citation-label bg-light"><em>How to cite this page:</em></span>
                        <p class="citation">Tom Raymo, &ldquo;{{ page.title }},&rdquo; <em>Raymo
                                Family
                                History</em>, {{ page.date | date:"%-d %B %Y" }} ({{ site.url }}{{ page.url
                            }} : accessed
                            <span id="today"></span>).</p>

                    </footer>
                </section>
                <aside class="col-md-4">
                    {% include sidebar.html %}
                </aside>
            </div>
        </div>
    </main>

    {% include footer.html %}


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="{{ site.baseurl }}/js/script.js"></script>


</body>

</html>